@{
  ViewBag.Title = "Contact Page";
}

<h1>Contact View</h1>
<p>Welcome to the Contact View</p>


@section footer_section{
  <p>Contact: +91-9353291003</p>
  @* Use Cases *@
  @* specific javascript file to render in layout*@
  @* render some specific views and layout*@
}