@model Person

@functions {
  double? GetAge(DateTime? dateofbirth) {
    return dateofbirth.HasValue ? MathF.Round(((float)(DateTime.Now - dateofbirth.Value).TotalDays) / 365.25f) : null;
  }
}

<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="~/StyleSheet.css"/>
</head>
<body>
  <h1>Person Detils</h1>
  <div class="page-content">
      <div class="box float-left w-50"> 
        <h3>@Model.PersonName</h3>
        <table class="table w-100">
          <tbody>
            <tr>
              <td>Gender</td>
              <td>@Model.Gender</td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>@Model.DateofBirth?.ToString("MM/dd/yyyy")</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="/home">Back to Persons</a>
  </div>
</body>
</html>