@using UltimateGuide.Models

@{
  string title = "asp.net core ultimate guid";
  Person person = new Person {
        Name = "Chitrang",
        DateofBirth = Convert.ToDateTime("1994-10-18"),
        Gender = Gender.Female
    // DateofBirth = null,
      };
}
<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Welcome to the View</h1>
  <h2>@person.Name</h2>
  @if (person.DateofBirth.HasValue) {
    double age = MathF.Round((float)((DateTime.Now - person.DateofBirth).Value.TotalDays / 365.25));
    <h3>@age year old</h3>
  } else {
    <p>date of birth is null</p>
  }

  @switch (person.Gender) {
    case Gender.Male:
    <p>November 19th is international Men's Day</p>
    break;
    case Gender.Female:
    <p>March 8 is international Women's Day</p>
    break;
    case Gender.Other:
    <p>March 31 is international Trans's Day</p>
    break;
  }
</body>
</html>