@using UltimateGuide.Models

@{
  string title = "asp.net core ultimate guid";
  List<Person> persons = new List<Person>
              {
     new Person { Name = "John Doe", Gender = Gender.Male,DateofBirth = DateTime.Parse("2025-04-16")  },
     new Person { Name = "Jane Smith", Gender = Gender.Female,DateofBirth = DateTime.Parse("2025-04-17")  },
     new Person { Name = "Sam Brown",Gender = Gender.Other, DateofBirth = DateTime.Parse("2025-04-18") }
 };
}
<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Welcome to the View</h1>
  @for (int i = 0;i < 2;i++) {
    Person p = persons[i];
    <div>
      @p.Name<span>, </span>
      <span>@p.Gender</span>
      @if (p.DateofBirth != null) {
        <span>@p.DateofBirth.Value.ToString("MM/dd/yyyy")</span>
      }
    </div>
    
  }
</body>
</html>