@{
  ListItems listItems = new ListItems {
        ItemName = "Cities",
        ItemsList = new List<string> { "New York","Los Angeles","Chicago","Houston","Phoenix" }
      };
}

<h1>Home</h1>
<div class="box">
  <partial name="_ListPartialView" model="listItems"></partial>
</div>