<h1>Home</h1>

<button class="button button-blue-back" type="button" id="load-button">Load Programing Languages</button>

<div class="box programing-languages-content"></div>

<script>
  document.querySelector("#load-button").addEventListener("click",async function() {
    var response = await fetch("programming-language");
    var languages = await response.text();
    document.querySelector(".programing-languages-content").innerHTML = languages;
  });
</script>